mixin header()
  +b.HEADER.header&attributes(attributes)
    .container
      +logo
      +select-block
      +navigation
      +e.contacts
        a(href="tel:+7 111 111 1111")
          +icon('phone')
          span +7 111 111 1111
        button(data-open="popup-form")
          +icon('phone')
          span Перезвоните мне
        .burger
