mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +logo
      +e.A(href="#!").info Политика конфиденциальности
      +e.A(href="#!").info Цены указанные на сайте не являются публичной офертой
      +e.A(href="#intro").button-up.js-scroll
        +icon('download')
