.footer {
  padding: 28px 0;
  background-color: #fff;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    letter-spacing: 0.01em;
    font-size: 14px;
    text-decoration: underline;
  }

  &__button-up {
    svg {
      fill: $color-brend;
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }
  }

  @include screen(md, max) {
    .container {
      flex-direction: column;
      text-align: center;
    }

    .logo,
    &__info {
      margin-bottom: 30px;
    }
  }
}
