extends ../../layouts/default

block head
  - var pageTitle = 'Frontend Template';

block content
  +header

  main
    +intro#intro
    +services
    +other
    +banner
    +features
    +order
    +personal
    +faq
    +reviews
    +calculater
    +map-section

  +footer

  +popups
    +popup-form(data-popup="popup-form")
    +popup-thanks(data-popup="popup-thanks")


