extends ../../layouts/default

block head
  - var pageTitle = 'Frontend Template';

block content
  +header

  main
    +intro#intro
    +services#services
    +other
    +banner
    +features#features
    +order
    +personal
    +faq
    +reviews#reviews
    +calculater
    +map-section#contacts

  +footer

  +popups
    +popup-form(data-popup="popup-form")
    //- +popup-thanks(data-popup="popup-thanks")


