.button {
  display: inline-block;
  padding: 15px 50px;
  border: 0;
  background-color: $color-brend;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  transition: background-color $ease-main;
  cursor: pointer;
  font-size: 22px;
  appearance: none;
  text-align: center;

  &--full {
    width: 100%;
  }

  $b: &;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $color-hover;
  }

  @include screen(xs, max) {
    padding: 15px 20px;
    font-size: 16px;
  }
}
