mixin calculater()
  +b.SECTION.calculater&attributes(attributes)
    .container
      +e.card
        h4 Расчет стоимости уборки

        form
          +e.steps
            .step.is-active
              +e.group
                h5 Тип уборки
                label
                  input(type="radio" name="type-cleaning" checked value="Генеральная уборка квартиры" data-price="2500")
                  span.check
                    +icon('check')
                  span Генеральная уборка квартиры
                label
                  input(type="radio" name="type-cleaning" value="Генеральная уборка комнаты" data-price="1500")
                  span.check
                    +icon('check')
                  span Генеральная уборка комнаты
                label
                  input(type="radio" name="type-cleaning" value="Уборка после ремонта" data-price="2700")
                  span.check
                    +icon('check')
                  span Уборка после ремонта

              +e.group.--row
                h5 Количество комнат
                .counter
                  .calc-btn.calc-btn--minus
                  span.counter-result 1
                  .calc-btn.calc-btn--plus

              +e.group
                h5 Дополнительные услуги
                label
                  input(type="checkbox" value="Погладить одежду" data-price="1000")
                  span.check
                    +icon('check')
                  span Погладить одежду
                label
                  input(type="checkbox" value="Помыть посуду" data-price="1500")
                  span.check
                    +icon('check')
                  span Помыть посуду
                label
                  input(type="checkbox" value="Помыть окна" data-price="2000")
                  span.check
                    +icon('check')
                  span Помыть окна
                label
                  input(type="checkbox" value="Убрать в шкафу" data-price="2500")
                  span.check
                    +icon('check')
                  span Убрать в шкафу

              +e.group
                h5 Ваши пожелания
                label
                  input(type="checkbox" value="Требуется химчистка" data-price="3000")
                  span.check
                    +icon('check')
                  span Требуется химчистка

            .step
              +e.group
                h5 Контактные данные:
                .form__inputbox
                  input.form__input(type="text" placeholder="Ваше имя")
                .form__inputbox
                  input.form__input(type="tel" placeholder="Ваш номер телефона" required)
              +e.group
                h5 Адрес:
                .form__inputbox
                  input.form__input(type="text" placeholder="Ваше имя")
                .form__inputbox
                  textarea( cols="30" rows="10" placeholder="Комментарий").form__input


          +e.info
            h5 Вы выбрали
            ul#resultList
              li(data-type) Генеральная уборка
              li(data-count) 1 ком.
              //- li(data-time) 2 часа
            .payment
              span Итого
              span#price от 2500 руб.
            span.form-btn.is-active#nextStep Следующий шаг
            input(type="submit" value="Заказать").form-btn
