mixin other()
  +b.SECTION.other&attributes(attributes)
    .container
      .title
        h2 Дополительные услуги

      .row
        .col-lg-3.col-sm-6
          +e.card(data-open="popup-form")
            .icon
              +icon('window')
            .name Мойка окон
            .price от 1 200 руб.

        .col-lg-3.col-sm-6
          +e.card(data-open="popup-form")
            .icon
              +icon('cleaner')
            .name Уборка в шкафу
            .price от 500 руб.

        .col-lg-3.col-sm-6
          +e.card(data-open="popup-form")
            .icon
              +icon('dish')
            .name Мытье посуды
            .price от 400 руб.

        .col-lg-3.col-sm-6
          +e.card(data-open="popup-form")
            .icon
              +icon('iron')
            .name Глажка
            .price от 600 руб.
