mixin reviews()
  +b.SECTION.reviews&attributes(attributes)
    .container
      .title
        h2 Отзывы
        p Наша компания на рынке всего четыре
          br
          | года, но у нас много положительных
          br
          | отзывов

      +e.slider
        +slider(true).js-reviews-slider
          +slide
            +e.card
              .head
                span Юля Зайцева
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Работала ваша сотрудница качественно, оперативно, не отвлекаясь ни на что. Работу выполнила на отлично. Добросовестный, вежливый сотрудник. Убрано все профессионально, спасибо!

          +slide
            +e.card
              .head
                span Мила Юсупова
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Огромное спасибо за проделанную работу! Квартира сияет! Вся работа была проделана на совесть, очень аккуратно! Даже самые труднодоступные места блестят чистотой! Спасибо!

          +slide
            +e.card
              .head
                span Катя Горина
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Уборка оставила положительные эмоции. Квартира засияла! Для меня было главным: качество уборки и быстрота. Все пожелания были соблюдены) Спасибо большое!

          +slide
            +e.card
              .head
                span Елена Олейник
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Уборка двухкомнатной квартиры, мытьё окон. Квартира после ремонта. Всё очень хорошо убрано, даже не сравнить с тем, что мы могли бы сами сделать. Лучше и не пожелаешь.

          +slide
            +e.card
              .head
                span Сергей Белов
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Спасибо за генеральную уборку нашей 2 ккв. Оперативно, качественно и позитивно. Я волновалась - высокий этаж и большие неудобные рамы - не каждый справится. Но все чисто!

          +slide
            +e.card
              .head
                span Тамара Юнусова
                span
                  - for (var i=0;i<5;i++)
                    +icon('star')
              .descr
                p Моя квартира нуждалась в уборке после ремонта, а также на кухне имелись некоторые "завалы" в ящиках. Квартира была подготовлена к празднованию Нового года. Все очень чисто)

        .slider-btn.slider-btn--prev.reviews-prev
          +icon('arrow-slider')
        .slider-btn.slider-btn--next.reviews-next
          +icon('arrow-slider')
