mixin tabs()
  +b.tabs&attributes(attributes)
    block

mixin tab()
  +e.tab&attributes(attributes)
    block

mixin tabs-content()
  .tabs-content&attributes(attributes)
    block

mixin tab-wrapper()
  .tabs-content__wrapper&attributes(attributes)
    block
