.tabs {
  display: block;
  font-size: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__tab {
    display: flex;
    border-bottom: 2px solid transparent;
    transition: border-color $ease-main, opacity $ease-main;
    padding: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color $ease-main, color $ease-main;
    box-shadow: 0px 0px 10px 2px #efefef;
    border-radius: 5px;
    background-color: #fff;

    &:not(:first-child) {
      margin-top: 20px;
    }

    .link {
      color: $color-brend;
      fill: $color-brend;
    }

    .icon {
      fill: $color-brend;
      margin-right: 25px;

      svg {
        width: 40px;
        height: 40px;
        transition: fill $ease-main;
      }

      @include screen(xs, max) {
        margin-bottom: 10px;
      }
    }

    .content {
      flex-grow: 1;

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
      }

      p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 21px;
      }

      .info {
        margin-top: 15px;
        display: flex;
        align-items: center;

        .price {
          font-weight: 700;
          font-size: 14px;
          margin-right: 25px;

          @include screen(xs, max) {
            margin-right: 0;
          }
        }
      }
    }

    &.active {
      background-color: $color-brend;
      opacity: 1;
      color: #fff;

      .link {
        color: #fff;
        fill: #fff;
      }

      .icon {
        fill: #fff;
      }
    }

    @include screen(xs, max) {
      flex-direction: column;

      .link {
        display: none;
      }
    }
  }

  & + &-content {
    margin-top: 30px;
  }

  &-content {
    &__wrapper {
      position: relative;
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      .image {
        position: relative;

        .bg-image {
          @include ratio(635, 635);
        }
      }

      &.active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
