mixin faq()
  +b.SECTION.faq&attributes(attributes)
    +bg-image('faq-bg.jpg')

    .container
      .title
       h2 Часто задаваемые вопросы

      +e.list
        +accordion
          +accordion-button
            .num 01
            .quest Сколько времени занимает клининг квартир?
          +accordion-content
            p Временные затраты зависят от выбранного клиентом пакета услуг, площади самого помещения и степени его загрязнения.
        +accordion
          +accordion-button
            .num 02
            .quest Заказ на уборку следует делать предварительно?
          +accordion-content
            p Временные затраты зависят от выбранного клиентом пакета услуг, площади самого помещения и степени его загрязнения.
        +accordion
          +accordion-button
            .num 03
            .quest Сколько сотрудников будут убирать помещение?
          +accordion-content
            p Временные затраты зависят от выбранного клиентом пакета услуг, площади самого помещения и степени его загрязнения.
        +accordion
          +accordion-button
            .num 04
            .quest Работаете в ночное время?
          +accordion-content
            p Временные затраты зависят от выбранного клиентом пакета услуг, площади самого помещения и степени его загрязнения.

