include ../blocks/accordion/accordion
include ../blocks/bg-image/bg-image
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/dropdown/dropdown
include ../blocks/form/form
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/link/link
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/navigation/navigation
include ../blocks/popups/popups
include ../blocks/price-info/price-info
include ../blocks/put-block-into-slot/put-block-into-slot
include ../blocks/rates-card/rates-card
include ../blocks/select-block/select-block
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../components/banner/banner
include ../components/calculater/calculater
include ../components/faq/faq
include ../components/features/features
include ../components/footer/footer
include ../components/header/header
include ../components/intro/intro
include ../components/map-section/map-section
include ../components/order/order
include ../components/other/other
include ../components/personal/personal
include ../components/reviews/reviews
include ../components/services/services