mixin map-section()
  +b.SECTION.map-section&attributes(attributes)
    .container
      .title
        h2 Покрытие сервиса
        p Наши клинеры работают в 20 минутах езды
          br
          | на общественном транспорте от крайних
          br
          | станций метро
    .map
      //- img(src="assets/images/map-exampel.jpg" alt="exampel")
